<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;1,400;1,600&display=swap">
{% minibundle css %}
source_dir: _assets/css
destination_path: assets/css
baseurl: '{{ site.baseurl }}/'
assets:
  - reset
  - main
{% endminibundle %}
<link rel="apple-touch-icon" sizes="180x180" href="https://cdn.beh.uk/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://cdn.beh.uk/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://cdn.beh.uk/img/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="https://cdn.beh.uk/img/safari-pinned-tab.svg" color="#961c1c">
<link rel="shortcut icon" href="https://cdn.beh.uk/img/favicon.ico">
<meta name="msapplication-TileColor" content="#961c1c">
<meta name="theme-color" content="#961c1c">
{% feed_meta %}
