body {
  background: #fff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.container {
  margin: 0 auto;
}

/* typography */

h1 {
  font-size: 2em;
}

/* header */

header, footer {
  background: #961c1c;
}

header {
  height: 3em;
  padding: 1.5em 0;
  margin-bottom: 2em;
}

header .container {
  display: flex;
  align-items: center;
  height: 100%;
}

header .container > * {
  float: left;
}

#nav-top-social ul {
  float: right;
}

#nav-top-social img {
  height: 1.5em;
  width: auto;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header ul li {
  float: left;
}

header ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
}

header #logo img {
  width: 100%;
  height: auto;
}

/* footer */

main {
  min-height: calc(100vh - 14em);
}

footer {
  color: #fff;
  text-align: center;
  margin-top: 1em;
  height: 3em;
}

/* homepage-specific rules */

#home, #home a {
  text-align: center;
  color: #fff;
}

#home header, #home footer {
  background: none;
}

#home header {
  margin-bottom: 8em;
}

#home #logo {
  visibility: hidden;
}

#home main {
  min-height: calc(100vh - 27em);
}

#home main img {
  width: 40em;
  height: auto;
  max-width: 80%;
  margin-bottom: 4em;
}

#home main h1 {
  font-size: 3em;
  margin-bottom: 2em;
}

#home main a {
  border: solid #fff 0.075em;
  padding: 1.2em;
  text-decoration: none;
  font-size: 125%;
  border-radius: 2em;
}

#home footer {
  margin-top: 8em;
}

/* media queries */

@media screen and (max-width: 60em) {
  .container {
    width: calc(100% - 1em);
  }
}

@media screen and (min-width: 60em) and (max-width: 70em) {
  .container {
    width: 58em;
  }
}

@media screen and (min-width: 70em) and (max-width: 80em) {
  .container {
    width: 60em;
  }

  #nav-top-internal, #nav-top-social {
    width: 25em;
  }

  #logo {
    margin-left: 25em; /* width of #nav-top-internal */
    width: 10em;
  }

  #nav-top-internal {
    margin-left: -35em; /* width of #logo plus width of #nav-top-internal */
  }

  #nav-top-social {
    margin-left: 10em;
  }
}

@media screen and (min-width: 80em) and (max-width: 90em) {
  .container {
    width: 70em;
  }

  #nav-top-internal, #nav-top-social {
    width: 29em;
  }

  #logo {
    margin-left: 29em; /* width of #nav-top-internal */
    width: 12em;
  }

  #nav-top-internal {
    margin-left: -41em; /* width of #logo plus width of #nav-top-internal */
  }

  #nav-top-social {
    margin-left: 12em;
  }
}

@media screen and (min-width: 90em) and (max-width: 105em) {
  .container {
    width: 80em;
  }

  #nav-top-internal, #nav-top-social {
    width: 32.5em;
  }

  #logo {
    margin-left: 32.5em; /* width of #nav-top-internal */
    width: 15em;
  }

  #nav-top-internal {
    margin-left: -47.5em; /* width of #logo plus width of #nav-top-internal */
  }

  #nav-top-social {
    margin-left: 15em;
  }
}

@media screen and (min-width: 105em) {
  .container {
    width: 90em;
  }

  #nav-top-internal, #nav-top-social {
    width: 35em;
  }

  #logo {
    margin-left: 35em; /* width of #nav-top-internal */
    width: 20em;
  }

  #nav-top-internal {
    margin-left: -55em; /* width of #logo plus width of #nav-top-internal */
  }

  #nav-top-social {
    margin-left: 20em;
  }
}
