---
layout: default
---

{{ content }}

<h2>Projects</h2>
<div id="projects">
  {% for project in site.data.projects %}
    <div class="project">
      <h3>{{ project.title }}</h3>
      <img alt="{{ project.title }}" src="/{% ministamp { source_path: '_assets/img/{{ project.image }}', destination_path: 'assets/img/{{ project.image }}' } %}">
      <p>{{ project.description }}</p>
    </div>
  {% endfor %}
</div>

<h2>Professional Experience</h2>
{% comment %} TODO: replace this table with CSS so that we can display the organisation / title, date, and overview on separate lines on mobile. {% endcomment %}
<table style="width:100%">
  {% for role in site.data.experience %}
    <tr>
      <td>
        <strong>{{ role.organisation }} - {{ role.title }}</strong>
        <ul>
          {% for bullet in role.overview %}
            <li>{{ bullet }}</li>
          {% endfor %}
        </ul>
      </td>
      <td style="white-space:nowrap; text-align:right">
        {% if role.end %}
          {% if role.start == role.end %}
            {{ role.start }}
          {% else %}
            {{ role.start }}&ndash;{{ role.end | slice: -2, 2 }}
          {% endif %}
        {% else %}
          Since {{ role.start }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
