<!DOCTYPE html>
<html lang="{{ site.language }}" id="home">
  <head>
    <title>{{ site.title }}</title>
    {% include head.html %}
    <style>
      #background, #overlay {
        position: fixed;
        height: 100%;
        width: 100%;
      }

      #background {
        z-index: -10;
        background: url("/{% ministamp { source_path: '_assets/img/{{ site.background }}', destination_path: 'assets/img/{{ site.background }}' } %}");
        background-size: cover;
      }

      #overlay {
        z-index: -5;
        background: rgba(187, 33, 33, 0.8);
      }
    </style>
  </head>
  <body>
    <div id="background"></div>
    <div id="overlay"></div>
    <header>
      {% include header.html %}
    </header>
    <main class="container">
      <img alt="{{ site.title }}" src="/{% ministamp { source_path: '_assets/img/{{ site.logo }}', destination_path: 'assets/img/{{ site.logo }}' } %}">
      <h1>{{ site.tagline }}</h1>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
